* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #070714; }
input::placeholder { color: rgba(255,255,255,0.2); }
input:focus { border-color: rgba(132,94,247,0.5) !important; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 99px; }